{% extends "core/base.html" %}
{% load static %}

{% block title %}Formulario Regresión Lineal{% endblock %}

{% block custom %}
<link rel="stylesheet" href=" {% static 'css/formularioR.css' %} ">
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<script>
    window.MathJax = {
        tex: {
            inlineMath: [['\\(', '\\)']],
            displayMath: [['\\[', '\\]']]
        }
    };
</script>
{% endblock %}

{% block content %}
<div class='formulario d-flex w-100 mt-3 justify-content-end position-absolute'>
    <a class="me-3" href="{% url 'regresion' %}">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-left-circle me-3" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
        </svg>
    </a>
</div>
<div class="container">
    <div class="d-flex justify-content-end mt-0 mb-2 position-absolute z-3 p-2">
        <button id="btnPrint" onclick="window.print()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-printer-fill" viewBox="0 0 16 16">
                <path d="M5 1a2 2 0 0 0-2 2v1h10V3a2 2 0 0 0-2-2zm6 8H5a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1"/>
                <path d="M0 7a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2h-1v-2a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v2H2a2 2 0 0 1-2-2zm2.5 1a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1"/>
            </svg>
        </button>
    </div>
    <div id="formulario" class="p-2">
        <h3>Formulario Regresión Lineal</h3>
        <div id="formula1">
            \[
            Y = Bx + A
            \]
        </div>
        <div id="formula2">
            \[
            B = \frac{n \sum x_i y_i - \sum x_i \sum y_i}{n \sum x_i^2 - (\sum x_i)^2}
            \]
        </div>
        <div id="formula3">
            \[
            A = \bar{y} - B \bar{x}
            \]
        </div>
        <div id="formula4">
            \[
            S_{yx} = \sqrt{\frac{\sum y_i^2 - A \sum y_i - B \sum x_i y_i}{n - 2}}
            \]
        </div>
        <div id="formula5">
            \[
            r = \frac{n \sum x_i y_i - \sum x_i \sum y_i}{\sqrt{[n \sum x_i^2 - (\sum x_i)^2][n \sum y_i^2 - (\sum y_i)^2]}}
            \]
        </div>
    </div>
</div>
{% endblock %}